{"swagger":"2.0","info":{"version":"6.15.134","title":"Partner.Net Data-API Web Application"},"host":"data.auto-partner.net","basePath":"/data","tags":[{"name":"ContractTypes","description":"Interface for retrieving contract types"},{"name":"Applications","description":"Interface for retrieving applications"},{"name":"ContractStates","description":"Interface for retrieving contract states"},{"name":"CompanyGroups","description":"Interface for retrieving company groups"},{"name":"ExternalBrands","description":"Interface for retrieving external brands"},{"name":"Functions","description":"Interface for retrieving functions"},{"name":"CompanyNumberTypes","description":"Interface for retrieving company number types"},{"name":"CompanyTypes","description":"Interface for retrieving company types"},{"name":"NumberTypes","description":"Interface for retrieving number types"},{"name":"CompanyGroupTypes","description":"Interface for retrieving company group types"},{"name":"Companies","description":"Interface for retrieving companies"},{"name":"Brands","description":"Interface for retrieving brands"},{"name":"Persons","description":"Interface for retrieving persons"},{"name":"About","description":"Interface for retrieving information about the pnet-data-api"},{"name":"Activities","description":"Interface for retrieving activities"},{"name":"AdvisorTypes","description":"Interface for retrieving advisor types"}],"paths":{"/api/v1/about/":{"get":{"tags":["About"],"summary":"about","description":"Retrieves some basic informations about the data API.","operationId":"aboutUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AboutDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activities/details":{"get":{"tags":["Activities"],"summary":"get all activities","description":"Retrieves a ResultPage containing activities that match the requested matchcodes.","operationId":"getAllUsingGET","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ActivityDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activities/details/{matchcode}":{"get":{"tags":["Activities"],"summary":"get activity","description":"Retrieves an activity with a specific matchcode.","operationId":"getUsingGET","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activities/find":{"get":{"tags":["Activities"],"summary":"find activities","description":"Finds multiple activities each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyType","in":"query","description":"the matchcodes for company types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ActivityItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activities/search":{"get":{"tags":["Activities"],"summary":"search for activities","description":"Searches for activities with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyType","in":"query","description":"the matchcodes for company types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ActivityItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/advisortypes/details":{"get":{"tags":["AdvisorTypes"],"summary":"get all advisor types","description":"Retrieves a ResultPage containing advisor types that match the requested matchcodes.","operationId":"getAllUsingGET_1","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«AdvisorTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/advisortypes/details/{matchcode}":{"get":{"tags":["AdvisorTypes"],"summary":"get an advisor type","description":"Retrieves an advisor type with a specific matchcode.","operationId":"getUsingGET_1","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdvisorTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/advisortypes/find":{"get":{"tags":["AdvisorTypes"],"summary":"find advisor types","description":"Finds multiple advisor types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_1","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«AdvisorTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/advisortypes/search":{"get":{"tags":["AdvisorTypes"],"summary":"search for advisor types","description":"Searches for advisor types with the specified query.","operationId":"searchUsingGET_1","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«AdvisorTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/applications/details":{"get":{"tags":["Applications"],"summary":"get all applications","description":"Retrieves a ResultPage containing applications that match the requested matchcodes.","operationId":"getAllUsingGET_2","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ApplicationDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/applications/details/{matchcode}":{"get":{"tags":["Applications"],"summary":"get activity","description":"Retrieves an application with a specific matchcode.","operationId":"getUsingGET_2","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/applications/find":{"get":{"tags":["Applications"],"summary":"find applications","description":"Finds multiple applications each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_2","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ApplicationItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/applications/search":{"get":{"tags":["Applications"],"summary":"search for applications","description":"Searches for applications with the specified query.","operationId":"searchUsingGET_2","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ApplicationItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/brands/details":{"get":{"tags":["Brands"],"summary":"get all brands","description":"Retrieves a ResultPage containing brands that match the requested matchcodes.","operationId":"getAllUsingGET_3","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«BrandDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/brands/details/{matchcode}":{"get":{"tags":["Brands"],"summary":"get brand","description":"Retrieves a brand with a specific matchcode.","operationId":"getUsingGET_3","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BrandDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/brands/find":{"get":{"tags":["Brands"],"summary":"find brands","description":"Finds multiple brands each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_3","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«BrandItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/brands/search":{"get":{"tags":["Brands"],"summary":"search for brands","description":"Searches for brands with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET_3","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«BrandItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companies/details":{"get":{"tags":["Companies"],"summary":"get all companies","description":"Returns multiple companies each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"getAllUsingGET_4","produces":["application/json"],"parameters":[{"name":"commercialRegisterNumber","in":"query","description":"one or more FB numbers, the case does not matter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyNumber","in":"query","description":"one or more company numbers, works with and without trimmed zeros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"dataProcessingRegisterNumber","in":"query","description":"one or more DVR numbers, the case does not matter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"email","in":"query","description":"one or more emails","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"iban","in":"query","description":"one or more IBANs, the case does not matter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"id","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"sapNumber","in":"query","description":"one or more SAP numbers, works with and without trimmed zeros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"vatIdNumber","in":"query","description":"one or more VAT ID numbers, the case does not matter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companies/details/{id}":{"get":{"tags":["Companies"],"summary":"get company","description":"Retrieves a company with a specific id.","operationId":"getUsingGET_4","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"the id","required":true,"type":"integer","allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companies/find":{"get":{"tags":["Companies"],"summary":"find companies","description":"Finds multiple companies each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_4","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"countryCode","in":"query","description":"the two character country code","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"externalBrand","in":"query","description":"the matchcodes of the external brand","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"headquarter","in":"query","description":"the ids of the headquarter companies","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"id","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"location","in":"query","description":"one or more GeoPoints (langitude, latitude and the allowed distance to that intersection","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"postalCode","in":"query","description":"one or more ZIPs","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"type","in":"query","description":"the matchcode of the company type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companies/search":{"get":{"tags":["Companies"],"summary":"search for companies","description":"Searches for companies with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET_4","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"countryCode","in":"query","description":"the two character country code","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"externalBrand","in":"query","description":"the matchcodes of the external brand","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"headquarter","in":"query","description":"the ids of the headquarter companies","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"location","in":"query","description":"one or more GeoPoints in the format: {\"lat\":47.817,\"lon\":13.051,\"distance\":100.0} (distance in meters)","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"type","in":"query","description":"the matchcode of the company type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companygroups/details":{"get":{"tags":["CompanyGroups"],"summary":"get all company groups","description":"Returns multiple company groups each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"getAllUsingGET_5","produces":["application/json"],"parameters":[{"name":"companyId","in":"query","description":"companyId","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"leadingCompanyId","in":"query","description":"leadingCompanyId","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"p","in":"query","description":"p","required":false,"type":"integer","default":0,"format":"int32"},{"name":"pp","in":"query","description":"pp","required":false,"type":"integer","default":10,"format":"int32"},{"name":"type","in":"query","description":"type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyGroupDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companygrouptypes/details":{"get":{"tags":["CompanyGroupTypes"],"summary":"get all company group types","description":"Retrieves a ResultPage containing company group types that match the requested matchcodes.","operationId":"getAllUsingGET_6","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyGroupTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companygrouptypes/details/{matchcode}":{"get":{"tags":["CompanyGroupTypes"],"summary":"get company group type","description":"Retrieves a company group type with a specific matchcode.","operationId":"getUsingGET_5","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyGroupTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companygrouptypes/find":{"get":{"tags":["CompanyGroupTypes"],"summary":"find company group types","description":"Finds multiple company group types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_5","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyGroupTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companygrouptypes/search":{"get":{"tags":["CompanyGroupTypes"],"summary":"search for company group types","description":"Searches for company group types with the specified query.","operationId":"searchUsingGET_5","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyGroupTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companynumbertypes/details":{"get":{"tags":["CompanyNumberTypes"],"summary":"get all company number types","description":"Retrieves a ResultPage containing company number types that match the requested matchcodes.","operationId":"getAllUsingGET_7","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyNumberTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companynumbertypes/details/{matchcode}":{"get":{"tags":["CompanyNumberTypes"],"summary":"get company number type","description":"Retrieves a company number type with a specific matchcode.","operationId":"getUsingGET_6","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyNumberTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companynumbertypes/find":{"get":{"tags":["CompanyNumberTypes"],"summary":"find company number types","description":"Finds multiple company number types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_6","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyNumberTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companynumbertypes/search":{"get":{"tags":["CompanyNumberTypes"],"summary":"search for company number types","description":"Searches for company number types with the specified query.","operationId":"searchUsingGET_6","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyNumberTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companytypes/details":{"get":{"tags":["CompanyTypes"],"summary":"get all company types","description":"Retrieves a ResultPage containing company types that match the requested matchcodes.","operationId":"getAllUsingGET_8","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companytypes/details/{matchcode}":{"get":{"tags":["CompanyTypes"],"summary":"get company type","description":"Retrieves a company type with a specific matchcode.","operationId":"getUsingGET_7","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companytypes/find":{"get":{"tags":["CompanyTypes"],"summary":"find company types","description":"Finds multiple company types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_7","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/companytypes/search":{"get":{"tags":["CompanyTypes"],"summary":"search for company types","description":"Searches for company types with the specified query.","operationId":"searchUsingGET_7","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«CompanyTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contractstates/details":{"get":{"tags":["ContractStates"],"summary":"get all contract states","description":"Retrieves a ResultPage containing contract states that match the requested matchcodes.","operationId":"getAllUsingGET_9","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractStateDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contractstates/details/{matchcode}":{"get":{"tags":["ContractStates"],"summary":"get contract states","description":"Retrieves a contract states with a specific matchcode.","operationId":"getUsingGET_8","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractStateDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contractstates/find":{"get":{"tags":["ContractStates"],"summary":"find contract states","description":"Finds multiple contract states each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_8","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractStateItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contractstates/search":{"get":{"tags":["ContractStates"],"summary":"search for contract states","description":"Searches for contract states with the specified query.","operationId":"searchUsingGET_8","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractStateItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contracttypes/details":{"get":{"tags":["ContractTypes"],"summary":"get all contract types","description":"Retrieves a ResultPage containing contract types that match the requested matchcodes.","operationId":"getAllUsingGET_10","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contracttypes/details/{matchcode}":{"get":{"tags":["ContractTypes"],"summary":"get contract type","description":"Retrieves a contract type with a specific matchcode.","operationId":"getUsingGET_9","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContractTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contracttypes/find":{"get":{"tags":["ContractTypes"],"summary":"find contract types","description":"Finds multiple contract types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_9","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"b","in":"query","description":"the matchcodes for contract states","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contracttypes/search":{"get":{"tags":["ContractTypes"],"summary":"search for contract types","description":"Searches for contract types with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET_9","produces":["application/json"],"parameters":[{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ContractTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/externalbrands/details":{"get":{"tags":["ExternalBrands"],"summary":"get all external brands","description":"Retrieves a ResultPage containing external brands that match the requested matchcodes.","operationId":"getAllUsingGET_11","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"mc","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ExternalBrandDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/externalbrands/details/{matchcode}":{"get":{"tags":["ExternalBrands"],"summary":"get external brand","description":"Retrieves an external brand with a specific matchcode.","operationId":"getUsingGET_10","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalBrandDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/externalbrands/find":{"get":{"tags":["ExternalBrands"],"summary":"find external brands","description":"Finds multiple external brands each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_10","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ExternalBrandItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/externalbrands/search":{"get":{"tags":["ExternalBrands"],"summary":"search for external brands","description":"Searches for external brands with the specified query.","operationId":"searchUsingGET_10","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«ExternalBrandItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/functions/details":{"get":{"tags":["Functions"],"summary":"get all functions","description":"Retrieves a ResultPage containing functions that match the requested matchcodes.","operationId":"getAllUsingGET_12","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«FunctionDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/functions/details/{matchcode}":{"get":{"tags":["Functions"],"summary":"get function","description":"Retrieves a function with a specific matchcode.","operationId":"getUsingGET_11","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FunctionDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/functions/find":{"get":{"tags":["Functions"],"summary":"find functions","description":"Finds multiple functions each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_11","produces":["application/json"],"parameters":[{"name":"activity","in":"query","description":"the matchcodes of activities","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyType","in":"query","description":"the matchcodes for company types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"numberType","in":"query","description":"the matchcodes of number types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«FunctionItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/functions/search":{"get":{"tags":["Functions"],"summary":"search for functions","description":"Searches for functions with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET_11","produces":["application/json"],"parameters":[{"name":"activity","in":"query","description":"the matchcodes of activities","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"b","in":"query","description":"the matchcodes of brands","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyType","in":"query","description":"the matchcodes for company types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"contractType","in":"query","description":"the matchcodes of contract types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"numberType","in":"query","description":"the matchcodes of number types","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«FunctionItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/numbertypes/details":{"get":{"tags":["NumberTypes"],"summary":"get all number types","description":"Retrieves a ResultPage containing number types that match the requested matchcodes.","operationId":"getAllUsingGET_14","produces":["application/json"],"parameters":[{"name":"mc","in":"query","description":"the matchcodes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«NumberTypeDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/numbertypes/details/{matchcode}":{"get":{"tags":["NumberTypes"],"summary":"get number type","description":"Retrieves a number type with a specific matchcode.","operationId":"getUsingGET_13","produces":["application/json"],"parameters":[{"name":"matchcode","in":"path","description":"the matchcode","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NumberTypeDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/numbertypes/find":{"get":{"tags":["NumberTypes"],"summary":"find number types","description":"Finds multiple number types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_12","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"mc","in":"query","description":"the matchcodes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«NumberTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/numbertypes/search":{"get":{"tags":["NumberTypes"],"summary":"search for number types","description":"Searches for number types with the specified query.","operationId":"searchUsingGET_12","produces":["application/json"],"parameters":[{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«NumberTypeItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/persons/details":{"get":{"tags":["Persons"],"summary":"get all persons","description":"Returns multiple persons each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"getAllUsingGET_15","produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"the emails","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"externalId","in":"query","description":"the external ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"guid","in":"query","description":"the global user ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"id","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"personnelNumber","in":"query","description":"the personnel numbers","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"preferredUserId","in":"query","description":"the preferred user ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«PersonDataDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/persons/details/{id}":{"get":{"tags":["Persons"],"summary":"get person","description":"Retrieves a person with a specific id.","operationId":"getUsingGET_14","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"the id","required":true,"type":"integer","allowEmptyValue":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonDataDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/persons/find":{"get":{"tags":["Persons"],"summary":"find persons","description":"Finds multiple persons each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).","operationId":"findUsingGET_13","produces":["application/json"],"parameters":[{"name":"activity","in":"query","description":"the matchcodes of the activities","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"advisorAssignmentCompany","in":"query","description":"the ids of companies of the user's advisor assigments","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"advisorAssignmentDivision","in":"query","description":"the matchcodes of the divisions of the user's advisor assigments","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"advisorAssignmentType","in":"query","description":"the matchcodes of the types of the user's advisor assigments","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyId","in":"query","description":"the ids of the companies","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"controllingArea","in":"query","description":"the controlling areas","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"costCenter","in":"query","description":"the cost centers","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"email","in":"query","description":"the emails","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"externalId","in":"query","description":"the external ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"function","in":"query","description":"the matchcodes of the functions","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"guid","in":"query","description":"the global user ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"id","in":"query","description":"the ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"personnelDepartment","in":"query","description":"the personnel departments","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"personnelNumber","in":"query","description":"the personnel numbers","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"preferredUserId","in":"query","description":"the preferred user ids","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"supervisorPersonnelNumber","in":"query","description":"the personnel numbers of the supervisors","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"up","in":"query","description":"updated after the specified date and time","required":false,"type":"string","allowEmptyValue":false,"format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«PersonItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/persons/search":{"get":{"tags":["Persons"],"summary":"search for persons","description":"Searches for persons with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).","operationId":"searchUsingGET_13","produces":["application/json"],"parameters":[{"name":"activity","in":"query","description":"the matchcodes of activities","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"companyId","in":"query","description":"the ids of companies","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"function","in":"query","description":"the matchcodes of functions","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"l","in":"query","description":"the language","required":false,"type":"string","allowEmptyValue":false},{"name":"p","in":"query","description":"the number of the page, 0-based","required":false,"type":"integer","default":0,"allowEmptyValue":false,"format":"int32"},{"name":"pp","in":"query","description":"the number of items per page","required":false,"type":"integer","default":10,"allowEmptyValue":false,"format":"int32"},{"name":"q","in":"query","description":"the query","required":false,"type":"string","allowEmptyValue":false},{"name":"t","in":"query","description":"the tenants","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultPage«PersonItemDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"AboutDataDTO":{"type":"object","properties":{"authorities":{"type":"array","description":"All rights of the system user used for this request.","items":{"type":"string"}},"dataApiVersion":{"type":"string","description":"The supported version Partner.Net Data API."},"partnerNetVersion":{"type":"string","description":"The version of the Partner.Net."},"tenants":{"type":"array","description":"All available tenants of the system user used for this request.","items":{"type":"string"}},"userId":{"type":"integer","format":"int32","description":"The id of the system user used for this request."}},"title":"AboutDataDTO","description":"Holds information about the Partner.Net Data API and the connected user."},"ActivityDataDTO":{"type":"object","properties":{"brands":{"type":"array","description":"The brands where the activity is valid","items":{"$ref":"#/definitions/BrandLinkDTO"}},"companyTypes":{"type":"array","description":"The company types where the activity is valid","items":{"$ref":"#/definitions/CompanyTypeLinkDTO"}},"contractTypes":{"type":"array","description":"The contract types where the activity is valid","items":{"$ref":"#/definitions/ContractTypeLinkDTO"}},"descriptions":{"type":"object","description":"The description of the activity with all existing translations","additionalProperties":{"type":"string"}},"labels":{"type":"object","description":"The label of the activity with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the activity was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the activity"},"tenants":{"type":"array","description":"The tenants where the activity is valid","items":{"type":"string"}}},"title":"ActivityDataDTO","description":"Holds all information about an activity"},"ActivityItemDTO":{"type":"object","properties":{"brands":{"type":"array","description":"The brands where the activity is valid","items":{"$ref":"#/definitions/BrandLinkDTO"}},"description":{"type":"string","description":"The description of the activity in the requested language"},"label":{"type":"string","description":"The label of the activity in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the activity was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the activity"},"tenants":{"type":"array","description":"The tenants where the activity is valid","items":{"type":"string"}}},"title":"ActivityItemDTO","description":"Holds basic information about an activity"},"ActivityLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the activity"},"tenant":{"type":"string","description":"A tenant where the activity is valid"}},"title":"ActivityLinkDTO","description":"Holds minimal information about an activity"},"AdvisorTypeDataDTO":{"type":"object","properties":{"descriptions":{"type":"object","description":"The description of the advisor type with all existing translations","additionalProperties":{"type":"string"}},"labels":{"type":"object","description":"The label of the advisor type with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the advisor type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the advisor type"}},"title":"AdvisorTypeDataDTO","description":"Holds all information about an advisor type"},"AdvisorTypeItemDTO":{"type":"object","properties":{"description":{"type":"string","description":"The description of the advisor type in the requested language"},"label":{"type":"string","description":"The label of the advisor type in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the advisor type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the advisor type"}},"title":"AdvisorTypeItemDTO","description":"Holds basic information about an advisor type"},"ApplicationDataDTO":{"type":"object","properties":{"descriptions":{"type":"object","description":"The description of the application with all existing translations","additionalProperties":{"type":"string"}},"labels":{"type":"object","description":"The label of the application with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the application was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the application"}},"title":"ApplicationDataDTO","description":"Holds all information about an application"},"ApplicationItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the application in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the application was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the application"}},"title":"ApplicationItemDTO","description":"Holds basic information about an application"},"BrandDataDTO":{"type":"object","properties":{"labels":{"type":"object","description":"The label of the brand with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the brand was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the brand"},"ordinal":{"type":"integer","format":"int32","description":"The ordinal of the brand for sorting"},"path":{"type":"string","description":"The simplified name of the brand when used as path, e.g. 'vw', 'audi', 'vwlnf'"},"tenants":{"type":"array","description":"The tenants where the brand is valid","items":{"type":"string"}}},"title":"BrandDataDTO","description":"Holds all information about a brand"},"BrandItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the brand in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the brand was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the brand"},"tenants":{"type":"array","description":"The tenants where the brand is valid","items":{"type":"string"}}},"title":"BrandItemDTO","description":"Holds basic information about a brand"},"BrandLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the brand"},"tenant":{"type":"string","description":"A tenant where the brand is valid"}},"title":"BrandLinkDTO","description":"Holds minimal information about a brand"},"CompanyBrandLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the brand"},"tenant":{"type":"string","description":"A tenant where the brand is valid"},"validFrom":{"type":"string","format":"date-time","description":"The date and time from when this brand is/was valid for the company"},"validTo":{"type":"string","format":"date-time","description":"The date and time till when this brand is/was valid for the company"}},"title":"CompanyBrandLinkDTO","description":"Holds minimal information about the brand of a company"},"CompanyContractStateLinkDTO":{"type":"object","properties":{"brandMatchcode":{"type":"string","description":"The unique matchcode of the brand"},"contractTypeMatchcode":{"type":"string","description":"The unique matchcode of the contract type"},"matchcode":{"type":"string","description":"The unique matchcode of the contract state"},"tenant":{"type":"string","description":"A tenant where the contract state is valid"},"validFrom":{"type":"string","format":"date-time","description":"The date and time from when this contract state is/was valid for the company"},"validTo":{"type":"string","format":"date-time","description":"The date and time till when this contract state is/was valid for the company"}},"title":"CompanyContractStateLinkDTO","description":"Holds minimal information about the contract state of a company"},"CompanyContractTypeLinkDTO":{"type":"object","properties":{"brandMatchcode":{"type":"string","description":"The unique matchcode of the brand"},"kvps":{"type":"boolean","description":"The flag that declares, whether the contract takes part in the KVPS or not"},"matchcode":{"type":"string","description":"The unique matchcode of the contract type"},"tenant":{"type":"string","description":"A tenant where the contract type is valid"},"validFrom":{"type":"string","format":"date-time","description":"The date and time from when this contract state is/was valid for the company"},"validTo":{"type":"string","format":"date-time","description":"The date and time till when this contract state is/was valid for the company"}},"title":"CompanyContractTypeLinkDTO","description":"Holds minimal information about the contract type of a company"},"CompanyDataDTO":{"type":"object","properties":{"additionalNumbers":{"type":"array","description":"The additional numbers of the company","items":{"$ref":"#/definitions/CompanyNumberLinkDTO"}},"administrativeTenant":{"type":"string","description":"The tenant, in which this company is administrated"},"bic":{"type":"string","description":"The BIC of the company"},"brands":{"type":"array","description":"The brands where the company is valid","items":{"$ref":"#/definitions/CompanyBrandLinkDTO"}},"certificateNumber":{"type":"string","description":"The number of the certificate the company has"},"certificateType":{"type":"string","description":"The certificate type the company has"},"city":{"type":"string","description":"The city in which the company is located"},"commercialRegisterNumber":{"type":"string","description":"The FB number of the company"},"companyId":{"type":"integer","format":"int32","description":"The unique id of the company"},"companyNumber":{"type":"string","description":"The company number"},"contractStates":{"type":"array","description":"The contract states where the company is valid","items":{"$ref":"#/definitions/CompanyContractStateLinkDTO"}},"contractTypes":{"type":"array","description":"The contract types where the company is valid","items":{"$ref":"#/definitions/CompanyContractTypeLinkDTO"}},"country":{"type":"string","description":"The name of the country the company is located in"},"countryCode":{"type":"string","description":"The code of the country in which the company is located"},"dataProcessingRegisterNumber":{"type":"string","description":"The DVR number of the company"},"email":{"type":"string","description":"The email address of the company"},"externalBrands":{"type":"array","description":"The external brands the company has","items":{"$ref":"#/definitions/CompanyExternalBrandDataDTO"}},"faxNumber":{"type":"string","description":"The fax number of the company"},"headquarterCompanyId":{"type":"integer","format":"int32","description":"The id of the company, that is the headquarter to this company"},"homepage":{"type":"string","description":"The homepage of the company"},"iban":{"type":"string","description":"The IBAN of the company"},"jurisdiction":{"type":"string","description":"The venue jurisdiction the company is part of because of the geographical position"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company was last changed"},"legalFormMatchcode":{"type":"string","description":"The matchcode of the legal form"},"location":{"description":"The location of the company in form of a GeoPoint","$ref":"#/definitions/GeoPoint"},"marketingName":{"type":"string","description":"The marketing name of the company"},"name":{"type":"string","description":"The name of the company"},"nameAffix":{"type":"string","description":"The name affix of the company"},"phoneNumber":{"type":"string","description":"The phone number of the company"},"postal":{"type":"string","description":"The postal address of the company"},"postalCode":{"type":"string","description":"The postal code of the city in which the company is located"},"region":{"type":"string","description":"The region of the country the company is in"},"sapNumber":{"type":"string","description":"The sap number of the of the company"},"speedDial":{"type":"string","description":"The speed dial of the company"},"street":{"type":"string","description":"The street in which the company is located"},"tenants":{"type":"array","description":"The tenants where the company is valid","items":{"type":"string"}},"types":{"type":"array","description":"The company types the company has","items":{"$ref":"#/definitions/CompanyTypeLinkDTO"}},"vatIdNumber":{"type":"string","description":"The vat ID of the company"}},"title":"CompanyDataDTO","description":"Holds all information about a company"},"CompanyExternalBrandDataDTO":{"type":"object","properties":{"local":{"type":"boolean","description":"The local flag"},"matchcode":{"type":"string","description":"The unique matchcode of the external brand"},"sales":{"type":"boolean","description":"This flag declares, whether this external brand is sold by the company"},"service":{"type":"boolean","description":"This flag declares, whether this external brand is serviced by the company "},"validFrom":{"type":"string","format":"date-time","description":"The date and time from when this external brand is/was valid for the company"},"validTo":{"type":"string","format":"date-time","description":"The date and time till when this external brand is/was valid for the company"}},"title":"CompanyExternalBrandDataDTO","description":"Holds minimal information about an external brand of the company"},"CompanyGroupDataDTO":{"type":"object","properties":{"leadingCompanyId":{"type":"integer","format":"int32","description":"The unique id of the company that is leading the company group"},"members":{"type":"array","description":"The members of the company group","items":{"$ref":"#/definitions/CompanyGroupMemberLinkDTO"}}},"title":"CompanyGroupDataDTO","description":"Holds all information about a company group"},"CompanyGroupMemberLinkDTO":{"type":"object","properties":{"companyId":{"type":"integer","format":"int32","description":"The unique id of the company that is in the company group"},"groupType":{"type":"string","description":"The unique matchcode of the company group type of the company group"}},"title":"CompanyGroupMemberLinkDTO","description":"Holds minimal information about a company group member"},"CompanyGroupTypeDataDTO":{"type":"object","properties":{"labels":{"type":"object","description":"The label of the company group type with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company group type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the company group type"}},"title":"CompanyGroupTypeDataDTO","description":"Holds all information about a company group type"},"CompanyGroupTypeItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the company group type in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company group type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the company group type"}},"title":"CompanyGroupTypeItemDTO","description":"Holds basic information about a company group type"},"CompanyItemDTO":{"type":"object","properties":{"administrativeTenant":{"type":"string","description":"The tenant, in which this company is administrated"},"brands":{"type":"array","description":"The brands where the company is valid","items":{"$ref":"#/definitions/CompanyBrandLinkDTO"}},"city":{"type":"string","description":"The city in which the company is located"},"companyId":{"type":"integer","format":"int32","description":"The unique id of the company"},"companyNumber":{"type":"string","description":"The company number"},"country":{"type":"string","description":"The name of the country the company is located in"},"countryCode":{"type":"string","description":"The code of the country in which the company is located"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company was last changed"},"location":{"description":"The location of the company in form of a GeoPoint","$ref":"#/definitions/GeoPoint"},"marketingName":{"type":"string","description":"The marketing name of the company"},"name":{"type":"string","description":"The name of the company"},"nameAffix":{"type":"string","description":"The name affix of the company"},"postalCode":{"type":"string","description":"The postal code of the city in which the company is located"},"region":{"type":"string","description":"The region of the country the company is in"},"street":{"type":"string","description":"The street in which the company is located"},"tenants":{"type":"array","description":"The tenants where the company is valid","items":{"type":"string"}},"types":{"type":"array","description":"The company types the company has","items":{"$ref":"#/definitions/CompanyTypeLinkDTO"}}},"title":"CompanyItemDTO","description":"Holds basic information about a company"},"CompanyNumberLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the additional company number"},"number":{"type":"string","description":"The actual additional company number"}},"title":"CompanyNumberLinkDTO","description":"Holds minimal information about an additional company number of the company"},"CompanyNumberTypeDataDTO":{"type":"object","properties":{"labels":{"type":"object","description":"The label of the company number type with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company number type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the company number type"}},"title":"CompanyNumberTypeDataDTO","description":"Holds all information about a company number type"},"CompanyNumberTypeItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the company number type in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company number type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the company number type"}},"title":"CompanyNumberTypeItemDTO","description":"Holds basic information about a company number type"},"CompanyTypeDataDTO":{"type":"object","properties":{"contractSpecific":{"type":"boolean","description":"The flag that declares, whether contracts matter for this company type"},"labels":{"type":"object","description":"The label of the company type with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company type was last changed"},"level":{"type":"integer","format":"int32","description":"The level of the company type (The smaller the level is, the higher is the importance)"},"matchcode":{"type":"string","description":"The unique matchcode of the company type"},"tenants":{"type":"array","description":"The tenants where the company type is valid","items":{"type":"string"}}},"title":"CompanyTypeDataDTO","description":"Holds all information about a company type"},"CompanyTypeItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the company type in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the company type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the company type"},"tenants":{"type":"array","description":"The tenants where the company type is valid","items":{"type":"string"}}},"title":"CompanyTypeItemDTO","description":"Holds basic information about a company type"},"CompanyTypeLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the company type"},"tenant":{"type":"string","description":"A tenant where the company type is valid"}},"title":"CompanyTypeLinkDTO","description":"Holds minimal information about a company type"},"ContractStateDataDTO":{"type":"object","properties":{"labels":{"type":"object","description":"The label of the contract state with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the contract state was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the contract state"}},"title":"ContractStateDataDTO","description":"Holds all information about a contract state"},"ContractStateItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the contract state in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the contract state was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the contract state"}},"title":"ContractStateItemDTO","description":"Holds basic information about a contract state"},"ContractTypeBrandLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string"},"states":{"type":"array","items":{"type":"string"}},"tenant":{"type":"string"}},"title":"ContractTypeBrandLinkDTO"},"ContractTypeDataDTO":{"type":"object","properties":{"brands":{"type":"array","description":"The brands where the contract type is valid","items":{"$ref":"#/definitions/ContractTypeBrandLinkDTO"}},"labels":{"type":"object","description":"The label of the contract type with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the contract type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the contract type"},"tenants":{"type":"array","description":"The tenants where the contract type is valid","items":{"type":"string"}},"type":{"type":"string","description":"The type of the contract"}},"title":"ContractTypeDataDTO","description":"Holds all information about a contract type"},"ContractTypeItemDTO":{"type":"object","properties":{"brands":{"type":"array","description":"The brands where the contract type is valid","items":{"$ref":"#/definitions/ContractTypeBrandLinkDTO"}},"label":{"type":"string","description":"The label of the contract type in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the contract type was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the contract type"},"tenants":{"type":"array","description":"The tenants where the contract type is valid","items":{"type":"string"}},"type":{"type":"string","description":"The type of the contract"}},"title":"ContractTypeItemDTO","description":"Holds basic information about a contract type"},"ContractTypeLinkDTO":{"type":"object","properties":{"matchcode":{"type":"string","description":"The unique matchcode of the contract type"},"tenant":{"type":"string","description":"A tenant where the contract type is valid"}},"title":"ContractTypeLinkDTO","description":"Holds minimal information about a contract type"},"ExternalBrandDataDTO":{"type":"object","properties":{"id":{"type":"string","description":"The unique id of the external brand"},"labels":{"type":"object","description":"The label of the external brand with all existing translations","additionalProperties":{"type":"string"}},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the external brand was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the external brand"}},"title":"ExternalBrandDataDTO","description":"Holds all information about an external brand"},"ExternalBrandItemDTO":{"type":"object","properties":{"label":{"type":"string","description":"The label of the external brand in the requested language"},"lastUpdate":{"type":"string","format":"date-time","description":"The time and date when the external brand was last changed"},"matchcode":{"type":"string","description":"The unique matchcode of the external brand"}},"title":"ExternalBrandItemDTO","description":"Holds basic information about an external brand"},"FunctionDataDTO":{"type":"object","properties":{"activities":{"type":"array","description":"The activities the function has","items":{"$ref":"#/definitions/ActivityLinkDTO"}},"brands":{"type":"array","description":"The brands where the function is valid","items":{"$ref":"#/definitions/BrandLinkDTO"}},"companyTypes":{"type":"array","description":"The company types where the function is valid","items":{"$ref"
[...]
