{
    "swagger": "2.0",
    "info": { "version": "6.20.61", "title": "Partner.Net Data-API Web Application" },
    "host": "data.auto-partner.net",
    "basePath": "/data",
    "tags": [
        { "name": "ContractTypes", "description": "Interface for retrieving contract types" },
        { "name": "Applications", "description": "Interface for retrieving applications" },
        { "name": "ContractStates", "description": "Interface for retrieving contract states" },
        { "name": "CompanyGroups", "description": "Interface for retrieving company groups" },
        { "name": "ExternalBrands", "description": "Interface for retrieving external brands" },
        { "name": "Functions", "description": "Interface for retrieving functions" },
        { "name": "CompanyNumberTypes", "description": "Interface for retrieving company number types" },
        { "name": "CompanyTypes", "description": "Interface for retrieving company types" },
        { "name": "NumberTypes", "description": "Interface for retrieving number types" },
        { "name": "CompanyGroupTypes", "description": "Interface for retrieving company group types" },
        { "name": "Companies", "description": "Interface for retrieving companies" },
        { "name": "Brands", "description": "Interface for retrieving brands" },
        { "name": "Persons", "description": "Interface for retrieving persons" },
        { "name": "About", "description": "Interface for retrieving information about the pnet-data-api" },
        { "name": "Activities", "description": "Interface for retrieving activities" },
        { "name": "AdvisorTypes", "description": "Interface for retrieving advisor types" }
    ],
    "paths": {
        "/api/v1/about/": {
            "get": {
                "tags": ["About"],
                "summary": "about",
                "description": "Retrieves some basic informations about the data API.",
                "operationId": "aboutUsingGET",
                "produces": ["application/json"],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/AboutDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/activities/details": {
            "get": {
                "tags": ["Activities"],
                "summary": "get all activities",
                "description": "Retrieves a ResultPage containing activities that match the requested matchcodes.",
                "operationId": "getAllUsingGET",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«ActivityDataDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/activities/details/{matchcode}": {
            "get": {
                "tags": ["Activities"],
                "summary": "get activity",
                "description": "Retrieves an activity with a specific matchcode.",
                "operationId": "getUsingGET",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ActivityDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/activities/find": {
            "get": {
                "tags": ["Activities"],
                "summary": "find activities",
                "description": "Finds multiple activities each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "b",
                        "in": "query",
                        "description": "One or more brands for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyType",
                        "in": "query",
                        "description": "One or more matchode of company types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "contractType",
                        "in": "query",
                        "description": "One or more matchode of contract types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "scroll",
                        "in": "query",
                        "description": "True, to enable scrolling for large results.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "allowEmptyValue": false,
                        "x-example": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«ActivityItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/activities/next/{scrollId}": {
            "get": {
                "tags": ["Activities"],
                "summary": "scroll activities",
                "description": "Returns the next page of the previous scroll operation.",
                "operationId": "nextUsingGET",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "scrollId",
                        "in": "path",
                        "description": "The scroll ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«ActivityItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/activities/search": {
            "get": {
                "tags": ["Activities"],
                "summary": "search for activities",
                "description": "Searches for activities with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).",
                "operationId": "searchUsingGET",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "b",
                        "in": "query",
                        "description": "One or more brands for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyType",
                        "in": "query",
                        "description": "One or more matchode of company types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "contractType",
                        "in": "query",
                        "description": "One or more matchode of contract types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«ActivityItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/advisortypes/details": {
            "get": {
                "tags": ["AdvisorTypes"],
                "summary": "get all advisor types",
                "description": "Retrieves a ResultPage containing advisor types that match the requested matchcodes.",
                "operationId": "getAllUsingGET_1",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«AdvisorTypeDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/advisortypes/details/{matchcode}": {
            "get": {
                "tags": ["AdvisorTypes"],
                "summary": "get an advisor type",
                "description": "Retrieves an advisor type with a specific matchcode.",
                "operationId": "getUsingGET_1",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/AdvisorTypeDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/advisortypes/find": {
            "get": {
                "tags": ["AdvisorTypes"],
                "summary": "find advisor types",
                "description": "Finds multiple advisor types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_1",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«AdvisorTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/advisortypes/search": {
            "get": {
                "tags": ["AdvisorTypes"],
                "summary": "search for advisor types",
                "description": "Searches for advisor types with the specified query.",
                "operationId": "searchUsingGET_1",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«AdvisorTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/applications/details": {
            "get": {
                "tags": ["Applications"],
                "summary": "get all applications",
                "description": "Retrieves a ResultPage containing applications that match the requested matchcodes.",
                "operationId": "getAllUsingGET_2",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«ApplicationDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/applications/details/{matchcode}": {
            "get": {
                "tags": ["Applications"],
                "summary": "get activity",
                "description": "Retrieves an application with a specific matchcode.",
                "operationId": "getUsingGET_2",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ApplicationDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/applications/find": {
            "get": {
                "tags": ["Applications"],
                "summary": "find applications",
                "description": "Finds multiple applications each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_2",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "scroll",
                        "in": "query",
                        "description": "True, to enable scrolling for large results.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "allowEmptyValue": false,
                        "x-example": false
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«ApplicationItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/applications/next/{scrollId}": {
            "get": {
                "tags": ["Applications"],
                "summary": "scroll applications",
                "description": "Returns the next page of the previous scroll operation.",
                "operationId": "nextUsingGET_1",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "scrollId",
                        "in": "path",
                        "description": "The scroll ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«ApplicationItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/applications/search": {
            "get": {
                "tags": ["Applications"],
                "summary": "search for applications",
                "description": "Searches for applications with the specified query.",
                "operationId": "searchUsingGET_2",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«ApplicationItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/brands/details": {
            "get": {
                "tags": ["Brands"],
                "summary": "get all brands",
                "description": "Retrieves a ResultPage containing brands that match the requested matchcodes.",
                "operationId": "getAllUsingGET_3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«BrandDataDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/brands/details/{matchcode}": {
            "get": {
                "tags": ["Brands"],
                "summary": "get brand",
                "description": "Retrieves a brand with a specific matchcode.",
                "operationId": "getUsingGET_3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/BrandDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/brands/find": {
            "get": {
                "tags": ["Brands"],
                "summary": "find brands",
                "description": "Finds multiple brands each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«BrandItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/brands/search": {
            "get": {
                "tags": ["Brands"],
                "summary": "search for brands",
                "description": "Searches for brands with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).",
                "operationId": "searchUsingGET_3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«BrandItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companies/details": {
            "get": {
                "tags": ["Companies"],
                "summary": "get all companies",
                "description": "Returns multiple companies each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "getAllUsingGET_4",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "commercialRegisterNumber",
                        "in": "query",
                        "description": "One or more FB numbers for filtering the result. The case will be ignored.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyNumber",
                        "in": "query",
                        "description": "One or more company numbers for filtering the result. Leading zeros will be trimmed.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "dataProcessingRegisterNumber",
                        "in": "query",
                        "description": "One or more DVR numbers for filtering the result. The case will be ignored.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "One or more emails for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "iban",
                        "in": "query",
                        "description": "One or more IBANs for filtering the result. The case will be ignored.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "One or more IDs for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "integer", "format": "int32" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "merge",
                        "in": "query",
                        "description": "Merge companies by a group type.",
                        "required": false,
                        "type": "string",
                        "default": "NONE",
                        "allowEmptyValue": false,
                        "x-example": "INTERNET_GROUP",
                        "enum": ["NONE", "INTERET_GROUP"]
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "sapNumber",
                        "in": "query",
                        "description": "One or more SAP numbers for filtering the result. Leading zeros will be trimmed.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "vatIdNumber",
                        "in": "query",
                        "description": "One or more VAT ID numbers for filtering the result. The case will be ignored.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«CompanyDataDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companies/details/{id}": {
            "get": {
                "tags": ["Companies"],
                "summary": "get company",
                "description": "Retrieves a company with a specific id.",
                "operationId": "getUsingGET_4",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID (also known as GP-ID) of the company.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    },
                    {
                        "name": "merge",
                        "in": "query",
                        "description": "Merge companies by a group type.",
                        "required": false,
                        "type": "string",
                        "default": "NONE",
                        "allowEmptyValue": false,
                        "x-example": "INTERNET_GROUP",
                        "enum": ["NONE", "INTERET_GROUP"]
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/CompanyDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companies/find": {
            "get": {
                "tags": ["Companies"],
                "summary": "find companies",
                "description": "Finds multiple companies each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_4",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "b",
                        "in": "query",
                        "description": "One or more brands for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyNumber",
                        "in": "query",
                        "description": "one or more company numbers",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "contractType",
                        "in": "query",
                        "description": "One or more matchode of contract types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "countryCode",
                        "in": "query",
                        "description": "the two character country code",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "externalBrand",
                        "in": "query",
                        "description": "the matchcodes of the external brand",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "One or more IDs for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "integer", "format": "int32" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "One or more GeoPoints for filtering the result. One GeoPoint consists of \"lon\" (the longitude), \"lat\" (the latitude) and the \"distance\" in meter.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "one or more company matchcodes (= administrative tenant + company number)",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "merge",
                        "in": "query",
                        "description": "Merge companies by a group type.",
                        "required": false,
                        "type": "string",
                        "default": "NONE",
                        "allowEmptyValue": false,
                        "x-example": "INTERNET_GROUP",
                        "enum": ["NONE", "INTERET_GROUP"]
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "postalCode",
                        "in": "query",
                        "description": "One or more ZIPs for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "scroll",
                        "in": "query",
                        "description": "True, to enable scrolling for large results.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "allowEmptyValue": false,
                        "x-example": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "the matchcode of the company type",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«CompanyItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companies/next/{scrollId}": {
            "get": {
                "tags": ["Companies"],
                "summary": "scroll companies",
                "description": "Returns the next page of the previous scroll operation.",
                "operationId": "nextUsingGET_2",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "scrollId",
                        "in": "path",
                        "description": "The scroll ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«CompanyItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companies/search": {
            "get": {
                "tags": ["Companies"],
                "summary": "search for companies",
                "description": "Searches for companies with the specified query. If one or more filters are set each filter will be applied (AND) and one of the values of each filter must match (OR).",
                "operationId": "searchUsingGET_4",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "aggregate",
                        "in": "query",
                        "description": "Additional aggregation, supported are: number-per-tenant, number-per-brand, number-per-type, number-per-contract-type",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "b",
                        "in": "query",
                        "description": "One or more brands for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "contractType",
                        "in": "query",
                        "description": "One or more matchode of contract types for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "countryCode",
                        "in": "query",
                        "description": "the two character country code",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "externalBrand",
                        "in": "query",
                        "description": "the matchcodes of the external brand",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "one or more GeoPoints in the format: {\"lat\":47.817,\"lon\":13.051,\"distance\":100.0} (distance in meters)",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "merge",
                        "in": "query",
                        "description": "Merge companies by a group type.",
                        "required": false,
                        "type": "string",
                        "default": "NONE",
                        "allowEmptyValue": false,
                        "x-example": "INTERNET_GROUP",
                        "enum": ["NONE", "INTERET_GROUP"]
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "One or more tenants for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "the matchcode of the company type",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/ResultPage«CompanyItemDTO»" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygroups/details": {
            "get": {
                "tags": ["CompanyGroups"],
                "summary": "get all company groups",
                "description": "Returns multiple company groups each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "getAllUsingGET_5",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "description": "One of more company matchcodes of group member. The leading company is included here, too.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyId",
                        "in": "query",
                        "description": "One of more company ids of group member. The leading company is included here, too.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "integer", "format": "int32" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "companyNumber",
                        "in": "query",
                        "description": "One of more company numbers of group member. The leading company is included here, too.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "leadingCompany",
                        "in": "query",
                        "description": "One of more company matchcodes (tenant + number) of group leading companies.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "leadingCompanyId",
                        "in": "query",
                        "description": "One of more company ids of group leading companies.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "integer", "format": "int32" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "leadingCompanyNumber",
                        "in": "query",
                        "description": "One of more company numbers of group leading companies.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "p",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "pp",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "scroll",
                        "in": "query",
                        "description": "True, to enable scrolling for large results.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "allowEmptyValue": false,
                        "x-example": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "type",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyGroupDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygroups/next/{scrollId}": {
            "get": {
                "tags": ["CompanyGroups"],
                "summary": "scroll company groups",
                "description": "Returns the next page of the previous scroll operation.",
                "operationId": "nextUsingGET_3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "scrollId",
                        "in": "path",
                        "description": "The scroll ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyGroupDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygrouptypes/details": {
            "get": {
                "tags": ["CompanyGroupTypes"],
                "summary": "get all company group types",
                "description": "Retrieves a ResultPage containing company group types that match the requested matchcodes.",
                "operationId": "getAllUsingGET_6",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyGroupTypeDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygrouptypes/details/{matchcode}": {
            "get": {
                "tags": ["CompanyGroupTypes"],
                "summary": "get company group type",
                "description": "Retrieves a company group type with a specific matchcode.",
                "operationId": "getUsingGET_5",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/CompanyGroupTypeDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygrouptypes/find": {
            "get": {
                "tags": ["CompanyGroupTypes"],
                "summary": "find company group types",
                "description": "Finds multiple company group types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_5",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyGroupTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companygrouptypes/search": {
            "get": {
                "tags": ["CompanyGroupTypes"],
                "summary": "search for company group types",
                "description": "Searches for company group types with the specified query.",
                "operationId": "searchUsingGET_5",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyGroupTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companynumbertypes/details": {
            "get": {
                "tags": ["CompanyNumberTypes"],
                "summary": "get all company number types",
                "description": "Retrieves a ResultPage containing company number types that match the requested matchcodes.",
                "operationId": "getAllUsingGET_7",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyNumberTypeDataDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companynumbertypes/details/{matchcode}": {
            "get": {
                "tags": ["CompanyNumberTypes"],
                "summary": "get company number type",
                "description": "Retrieves a company number type with a specific matchcode.",
                "operationId": "getUsingGET_6",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "matchcode",
                        "in": "path",
                        "description": "One matchcode.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": { "description": "OK", "schema": { "$ref": "#/definitions/CompanyNumberTypeDataDTO" } },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companynumbertypes/find": {
            "get": {
                "tags": ["CompanyNumberTypes"],
                "summary": "find company number types",
                "description": "Finds multiple company number types each matching all specified restrictions. If one or more restrictions are set each restriction will be applied (AND) and one of the values of each restriction must match (OR).",
                "operationId": "findUsingGET_6",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": false,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "up",
                        "in": "query",
                        "description": "The result will only contain items, that have been modified after the specified date and time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "allowEmptyValue": false,
                        "x-example": "1999-12-31T23:59:59"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyNumberTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companynumbertypes/search": {
            "get": {
                "tags": ["CompanyNumberTypes"],
                "summary": "search for company number types",
                "description": "Searches for company number types with the specified query.",
                "operationId": "searchUsingGET_6",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "l",
                        "in": "query",
                        "description": "The language for labels and descriptions in the result. Does not filter any items, even if the translation is missing.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "de"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 10
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query. May contain wildcards like '*'.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResultPage«CompanyNumberTypeItemDTO»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/api/v1/companytypes/details": {
            "get": {
                "tags": ["CompanyTypes"],
                "summary": "get all company types",
                "description": "Retrieves a ResultPage containing company types that match the requested matchcodes.",
                "operationId": "getAllUsingGET_8",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "mc",
                        "in": "query",
                        "description": "One or more matchcodes for filtering the result.",
                        "required": true,
                        "type": "array",
                        "items": { "type": "string" },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "The index of the page (zero-based).",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "allowEmptyValue": false,
                        "x-example": 0
                    },
                    {
                        "name": "pp",
                        "in": "query",
                        "description": "The number of items per page.",
                        "required": false,
                        "type": "integer",
                        "default": 10,
[...]
